* { margin: 0; padding: 0; box-sizing: border-box; }

body {
  font-family: system-ui, -apple-system, sans-serif;
  background-color: gray;
}

.parent{
  min-height: 100vh;
  width: 100%;
  flex-wrap: wrap;
  padding: 30px;
  display: flex;
  gap: 30px;
}

.card{
  padding: 30px;
  height: 330px;
  width: 280px;
  background-color: white;
  border-radius: 20px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.parent .card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.top img{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
}

.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 4px 8px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 13px;
  gap: 3px;
  background-color: transparent;
  color: rgb(12, 12, 12);
}

.center{
  
}

.center h3{
  font-size: 20px;
  font-weight: 500;
}

.center h3 span{
  font-size: 10px;
  font-weight: 400;
  color: #8b8b8b;
}

.center h2{
  font-size: 20px;
}

.center .tag{
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.center .tag h4{
  font-size: 14px;
  background-color: #dadada;
  color: black;
  padding: 3px 6px;
  font-weight: 500;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid black;
  padding: 15px;
}

.bottom button{
  background-color: black;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-weight: 600;
}

.bottom h3{
  font-size: 17px;
}

.bottom p{
  font-size: 10px;
  color: #8b8b8b;
}