* { margin: 0; padding: 0; box-sizing: border-box; }

body {
  font-family: system-ui, -apple-system, sans-serif;
  background-color: black;
  color: white;
}

input, button{
  padding: 20px;
  margin: 20px;
  font-size: 30px;
}